In [ ]:
6+5

In [ ]:
# let's try out some coding normal things
number_one = 24
number_two = 45

total = number_one + number_two #this is an expression

#now time for a print command
print("the sum of two numbers are",total)

# So Let's add more to it. Some important format function

In [ ]:
# taking different data type values
number_data = 15
string_data = "himanshu"
float_data = 3.45
boolean_data = False
paragraph_data = None

# now using those data 
paragraph_data = """ Hey this is {} and i was born on {} and my experience in company is {} years. I can never take {} in my life."""
paragraph_data = paragraph_data.format(string_data,number_data,float_data,boolean_data)

# printing
print(type(boolean_data))
print(paragraph_data)

# LISTS
### Trying out some diffrent things in a list

In [ ]:
list_data = ['heyo','nano',1,True]
car = list_data[1]
print(list_data)

#### Reverse the order of elements in a list

In [ ]:
print(list_data[::-1])

#### Add the element of one list to the end of another list

In [ ]:
list_data = ['a','b','c']
list_data_two = ['okkk']
list_data.extend(list_data_two)
print(list_data)

#### Sort a list of strings in alphabetical order

In [ ]:
cars = ['mer','ert','dsgdsg']
cars.sort()
print(cars)

#### Sort a list of strings in decreasing order

In [ ]:
cars = ['mer','ert','dsgdsg']
cars.sort(reverse = True)
print(cars)

# Dictionary

#### what happens if you use the same key multiple times while creating dictionary

In [ ]:
my_data = dict(name="hima",name="himaaaaa",age=4)

print(my_data)

 File "<ipython-input-71-5a5ed7596ac6>", line 1
    my_data = dict(name="hima",name="himaaaaa",age=4)
                              ^
SyntaxError: keyword argument repeated

#### How can you create a copy of a dictionary ?

In [ ]:
my_data = dict(name="hima",lname="himsddsggdaaaaa",age=4)
my_data_copy = dict(my_data)
my_data_copy["name"] = "tiwar" 

print(my_data)

print(my_data_copy)

#### Can the value associated with a key itself be a dictionary?

In [ ]:
my_data = dict(names= dict(name1="a",name2="b"),lname="himaaaaa",age=4)

print(my_data)
dict_data = my_data["names"]
type(dict_data)
dict_data['name1']

#### How can you add the key value pairs from one dictionary into another dictionary?

In [ ]:
d1 = dict(aim=1,name="hima")
d2 = dict(sex="male")
d1.update(d2)
print(d1)

#### Can the key be something other than strings?

In [ ]:
d1 = {
    1:"hii",
    (1,2,3):"ererre"}
print(d1)