# Lesson2

### if statement

In [ ]:
num = 23
if num % 3 != 0:
    print('yaaay {} is not % of 3' .format(num))

### else statement

In [ ]:
nume = 22
if nume % 2 != 0:
    print('yaaay {} is not % of 2' .format(nume))
else:
    print('yaaay {} is % of 2'.format(nume))

In [ ]:
names = ['a','aa','aaa']
me = 'hima'
if me in names:
    print('yaaay {} i am in {}'.format(me,names))
else:
    print('noooo {} is not in {}'.format(me,names))

### elif statement

In [ ]:
today = 'Monday'
if today == 'Sunday':
    print("Today is the day of the sun.")
elif today == 'Monday':
    print("Today is the day of the moon.")
elif today == 'Tuesday':
    print("Today is the day of Tyr, the god of war.")
elif today == 'Wednesday':
    print("Today is the day of Odin, the supreme diety.")
elif today == 'Thursday':
    print("Today is the day of Thor, the god of thunder.")
elif today == 'Friday':
    print("Today is the day of Frigga, the goddess of beauty.")
elif today == 'Saturday':
    print("Today is the day of Saturn, the god of fun and feasting.")

### Iteration with while loops

In [ ]:
%%time
result = 1
i =1
while i<=100:
    result = result*i
    i=i+1

print('the factorial of 100 is: {}'.format(result))

## Pattern

In [4]:
line = '*'
max_length = 10

while len(line) <= max_length:
    print(line)
    line += "*"
    
while len(line) > 0:
    print(line)
    line = line[:-1]

*
**
***
****
*****
******
*******
********
*********
**********
***********
**********
*********
********
*******
******
*****
****
***
**
*

### For Loop

In [8]:
pants = ['qw','qwe','wer','ere']
for pant in pants:
    print(pant)

qw
qwe
wer
ere

In [18]:
shirts = dict(num=1,name='asd')
for shirt in shirts:
    print(shirt,shirts[shirt])

num 1
name asd

In [26]:
for i in range(10):
    print(i)

print()
for i in range(1,5):
    print(i)

print()
for i in range(1,20,5):
    print(i)

print()
see = ['a','b','c','d','e']
for se in range(len(see)):
    print('{} in {}'.format(se,see[se]))

0
1
2
3
4
5
6
7
8
9

1
2
3
4

1
6
11
16

0 in a
1 in b
2 in c
3 in d
4 in e

## FUNTIONS

In [28]:
listofnumbers =[1,2,3,4,5,6,7,8,9,10]
def evennumbers():
    evenlist = []
    for i in listofnumbers:
        if i%2 ==0:
            evenlist.append(i)
    return evenlist

print(evennumbers())

[2, 4, 6, 8, 10]

### TRY & EXCEPT

In [29]:
try:
    print("Now computing the result..")
    result = 5 / 0
    print("Computation was completed successfully")
except ZeroDivisionError:
    print("Failed to compute result because you were trying to divide by zero")
    result = None

print(result)

Now computing the result..
Failed to compute result because you were trying to divide by zero
None

## Exercise - Data Analysis for Vacation Planning

You're planning a vacation, and you need to decide which city you want to visit. You have shortlisted four cities and identified the return flight cost, daily hotel cost, and weekly car rental cost. While renting a car, you need to pay for entire weeks, even if you return the car sooner.


| City | Return Flight (`$`) | Hotel per day (`$`) | Weekly Car Rental  (`$`) | 
|------|--------------------------|------------------|------------------------|
| Paris|       200                |       20         |          200           |
| London|      250                |       30         |          120           |
| Dubai|       370                |       15         |          80           |
| Mumbai|      450                |       10         |          70           |         


Answer the following questions using the data above:

1. If you're planning a 1-week long trip, which city should you visit to spend the least amount of money?
2. How does the answer to the previous question change if you change the trip's duration to four days, ten days or two weeks?
3. If your total budget for the trip is `$1000`, which city should you visit to maximize the duration of your trip? Which city should you visit if you want to minimize the duration?
4. How does the answer to the previous question change if your budget is `$600`, `$2000`, or `$1500`?

*Hint: To answer these questions, it will help to define a function `cost_of_trip` with relevant inputs like flight cost, hotel rate, car rental rate, and duration of the trip. You may find the `math.ceil` function useful for calculating the total cost of car rental.*

In [9]:
#1
cost_to_visit_paris = 200 + (20 * 7) + 200
cost_to_visit_london = 250 + (30 * 7) + 120
cost_to_visit_dubai = 370 + (15 * 7) + 80
cost_to_visit_mumbai = 450 + (10 * 7) + 70

print ("Dubai - {} : London - {} : Mumbai - {} : Paris - {} ".format(cost_to_visit_dubai,cost_to_visit_london,cost_to_visit_mumbai,cost_to_visit_paris))

Dubai - 555 : London - 580 : Mumbai - 590 : Paris - 540

In [14]:
print("If you're planning a 1-week long trip, (Paris - ${}) city you should visit to spend the least amount of money.".format(cost_to_visit_paris))

If you're planning a 1-week long trip, (Paris - $540) city you should visit to spend the least amount of money.

In [16]:
#2
#for 4 days
cost_to_visit_paris = 200 + (20 * 4) + 200
cost_to_visit_london = 250 + (30 * 4) + 120
cost_to_visit_dubai = 370 + (15 * 4) + 80
cost_to_visit_mumbai = 450 + (10 * 4) + 70

print ("Dubai - {} : London - {} : Mumbai - {} : Paris - {} ".format(cost_to_visit_dubai,cost_to_visit_london,cost_to_visit_mumbai,cost_to_visit_paris))
print("If you're planning a 4-day long trip, (Paris - ${}) city you should visit to spend the least amount of money.".format(cost_to_visit_paris))

Dubai - 510 : London - 490 : Mumbai - 560 : Paris - 480
If you're planning a 4-day long trip, (Paris - $480) city you should visit to spend the least amount of money.

In [25]:
#for 10 days
cost_to_visit_paris = 200 + (20 * 10) + (200*2)
cost_to_visit_london = 250 + (30 * 10) + (120*2)
cost_to_visit_dubai = 370 + (15 * 10) + (80*2)
cost_to_visit_mumbai = 450 + (10 * 10) + (70*2)

print ("Dubai - {} : London - {} : Mumbai - {} : Paris - {} ".format(cost_to_visit_dubai,cost_to_visit_london,cost_to_visit_mumbai,cost_to_visit_paris))
print("If you're planning a 4-day long trip,  (Dubai - ${}) city you should visit to spend the least amount of money.".format(cost_to_visit_dubai))

Dubai - 680 : London - 790 : Mumbai - 690 : Paris - 800
If you're planning a 4-day long trip,  (Dubai - $680) city you should visit to spend the least amount of money.

In [27]:
#for 2 weeks
cost_to_visit_paris = 200 + (20 * 14) + (200*2)
cost_to_visit_london = 250 + (30 * 14) + (120*2)
cost_to_visit_dubai = 370 + (15 * 14) + (80*2)
cost_to_visit_mumbai = 450 + (10 * 14) + (70*2)

print ("Dubai - {} : London - {} : Mumbai - {} : Paris - {} ".format(cost_to_visit_dubai,cost_to_visit_london,cost_to_visit_mumbai,cost_to_visit_paris))
print("If you're planning a 4-day long trip, (Mumbai - ${})  city you should visit to spend the least amount of money.".format(cost_to_visit_mumbai))

Dubai - 740 : London - 910 : Mumbai - 730 : Paris - 880
If you're planning a 4-day long trip, (Mumbai - $730)  city you should visit to spend the least amount of money.